body {
  /* All backgrounds to go edge-to-edge */
  margin: 0;
  font-family: sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

/* Header */

header {
  background: #db2664;
  color: white;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 65rem;
  margin: auto;
}

.top-nav {
  overflow: hidden;
  margin: 0;
  margin: 1rem 0;
}

.top-nav__left {
  margin: 0;
  float: left;
}

.top-nav__right {
  margin: 0 -1rem;
  line-height: 3rem;
  float: right;
}

.top-nav__item {
  margin: 0 1rem;
  display: inline-block; /* this makes people and repos in line with each other */
  font-size: 1rem; /* this is the font size of people and repos */
}


main {
  padding: 1rem;
}

.grid {
  overflow: auto;
  margin: -1rem;
}

.grid__item {
  float: left;
  width: calc(100% / 3 - 2rem);
  align: center;
  border: 0.1rem solid #aaa;
  min-width: 16rem;
  margin: 1rem;
  border-radius: .5rem;

}

.user-info {
  padding: 1rem;
  overflow: auto;
}

.user-image {
  height: 100px;
  width: 100px;
  border-radius: 20%;
  float: left;
}

.user-info__text {
  margin-left: 1rem;
  float:left;
}

.user-info__name {
  font-size: 1.5rem;
  margin: 0;
}

.user-info__username {
  color: #8e8e8e;
  font-size:  1rem;
  font-weight: 500;
  margin: 0;
}

.repo {
  padding: 0;
  margin: 0;
}

.repo__item {
  padding: .25rem 1rem;
    margin: 0;
    border-top: .1rem solid #aaa;

  overflow: auto;
}



.repo__item-left {
  float: right;
}

.language {
  display: inline-block;
  padding-left: 0.1rem;
}

.repo__item-dot-html {
  display: inline-block;
  width: .75rem;
  height: .75rem;
  border-radius: 50%;
  background: #ff5c00;
}

.repo__item-dot-css {
  display: inline-block;
  width: .75rem;
  height: .75rem;
  border-radius: 50%;
  background: red;
}

.repo__item-dot-javascript {
  display: inline-block;
  width: .75rem;
  height: .75rem;
  border-radius: 50%;
  background: yellow;
}

.repo__item-dot-python {
  display: inline-block;
  width: .75rem;
  height: .75rem;
  border-radius: 50%;
  background: green;
}

.repo__item-dot-ruby {
  display: inline-block;
  width: .75rem;
  height: .75rem;
  border-radius: 50%;
  background: pink;
}

.repo__item-dot-php {
  display: inline-block;
  width: .75rem;
  height: .75rem;
  border-radius: 50%;
  background: #00ffa8;
}

.repo__item-dot-swift {
  display: inline-block;
  width: .75rem;
  height: .75rem;
  border-radius: 50%;
  background: #ff8a00;
}

.repo__item-dot-objc {
  display: inline-block;
  width: .75rem;
  height: .75rem;
  border-radius: 50%;
  background: #0029ff;
}

.repo__item-dot-typescript {
  display: inline-block;
  width: .75rem;
  height: .75rem;
  border-radius: 50%;
  background: #008f64;
}

.repo-name {
  float: left;
}



.headline {
  background-color: #00c2ff; /* color of headline bar */
  overflow: auto;
  padding: 0 2rem;
}

.headline--title {
  float: left;
  line-height: 3rem; /* make sure this is the same height as top-nav__right */
  margin: 0;
}
