body {
  /* All backgrounds to go edge-to-edge */
  margin: 0;
  font-family: sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

.profile {

}

.header {

}

.nav-bar__left {

}

.nav-bar__right {
float: right;
}

.grid {

}

.grid__item {

}
